<%= h(flash[:success]) %>
<table>
<tr> 
<td><b>Title:</b></td>
<td><span><%= @book.title %></span></td>
</tr> 
<tr>  
<td><b>Body:</b></td>
<td><span><%= @book.body %></span></td>
</tr>
</table>

<td><%= link_to 'edit', edit_book_path(@book) %></td>     <td><%= link_to 'back', books_path %></td>